body.pipboy {
  font-family: "Lucida Console", Monaco, monospace;
  color: #0f0;

  .stats, .quake_info_container {
    color: #0d0;
  }

  .quake_info, .disclaimer {
    background: #002e02;
    border: solid 1px #0f0;
  }

  a, .quake_field {
    color: #0d0;
  }

  .quake_field span, .quake_field a {
    color: #0f0;
  }

  .leaflet-container .leaflet-control-attribution {
    background: #002e02 !important;
    color: #0d0 !important;
  }

  .leaflet-container .leaflet-control-attribution a {
    color: #0f0 !important;
    text-decoration: underline !important;
  }
}